/* <-----------------------------------------header start--------------------------------------------> */
.header {
    background-color: white;
    border:1px solid  rgb(219, 216, 216);
}
select{
    border: none;
    font-weight: bold;
}

.categories, .category1{
    display: flex;
}
.subHeader2>div>p>i {
    font-size: 23px;

}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
}

.categories{
    font-size: 12px;
    width: 90%;
    margin-left: 35px;
    justify-content: space-around;
    margin-top: 1%;
    font-weight: bold;

}

.subHeader2 {
    width: 85.5%;
    display: flex;
    margin: auto;
    padding-bottom: 1%;
   
}

.subHeader2>div {
    margin-top: -20px;
    width:30px;
   }


.subHeader2>div>div{
    padding-top: -10px;
}
.subHeader2>div:first-child {
    width: 67%;
}

.subHeader2>div>div:first-child>img {
    height: 60px;
    margin-left: 1%;
    margin-right: 3%;
    width: 160px;
}

.subHeader2>div>div:first-child>input {
    width: 60%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(78, 2, 148);
}

.subHeader2>div>div:first-child>button {
    width: 13%;
    height: 35px;
    border-radius: 5px;
    color: white;
    background-color: rgb(78, 2, 148);
}

.subHeader2>div:last-child {
    width: 30%;
}

hr {
    border-color: rgb(240, 237, 237);
    margin-bottom: 25px;
}

.subHeader1, .subHeader11 {
    height: 10px;
    display: flex;
    justify-content: end;
    gap: 40px;
    margin-right: 10%;
    font-size: 15px;
    /* flex-direction: column; */

}

.subHeader11 {
    width: 20%;
    align-content: flex-end;
    height: 100px;
    margin-right: 1%;
    margin-top: 1%;
 
}

.subHeader11>p>i{
    margin-top: 20%;
   
}

.subHeader11>p{
    margin-right: -25px;

}


/* <-----------------------------------------header end--------------------------------------------> */
body {
    background: #fff4d9;
}

#carousel-example-generic {
    width: 1670px;
}

.item>img{
width:100%
}
#sliderMain {
    padding: 14px;
    width: 85%;
    height: 365px;
    margin: auto;
    background-color: white;
    display: flex;
    gap: 20px;

}

#sideSliderImg>img:first-child {
    height: 129px;
    width: 290px;
    margin-bottom: 15px;
}

#sideSliderImg>img:last-child {
    height: 186px;
    width: 290px;
}

.firstBox {
    margin: auto;
    width: 85.5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    margin-top: 1%;

}

.firstBox>div>img {
    height: 260px;
    width: 250px;
    padding-left: 9%;
    padding-bottom: 9%;
    padding-top: 2%;
}

.thirdBox {
    margin: auto;
    width: 85.5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 15px;
    margin-top: -120px;
}

.thirdBox>div {
    background-color: white;
    text-align: center;
    padding: 3px;
}

.thirdBox>div>img {
    height: 260px;
    width: 250px;
}


.thirdBox>div>p:first-child {
    margin-top: 1px;
    font-weight: bold;
}

.firstBox>div {
    margin: auto;
    background-color: white;
    height: 287x;
    width: 273px;

}

.firstBox>div>div:first-child {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}

.secondBox, .fourthBox, .fiveBox {
    background-color: white;
    height: 380Px;
    width: 85.5%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 10%;

}

.secondBox1, .fourthBox1, .fiveBox1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 0px;
}


.secondBox1>div>img, .fourthBox1>div>img, .fiveBox1>div>img {
    height: 380x;
    width: 100%;
    margin-bottom: 10px;
}

.secondBox1>div, .fourthBox1>div, .fiveBox1>div {
    margin: auto;
    margin-top: 7%;
    width: 210px;
    padding: 5% 5% 0px 5%;
    margin-bottom: 16%;
}

.fourthBox1>div, .fiveBox1>div {
    margin-top: 3%;
}

.secondBox1>div:hover, .fourthBox1>div:hover, .fiveBox1>div:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.nineBox>div:first-child>p, .eightBox>div:first-child>p, .fourthBox>div:first-child>p, .fiveBox>div:first-child>p, .sixthBox>div:first-child>p, .seventhBox>div:first-child>p {
    padding-top: 13px;
    padding-left: 20px;
    font-size: 24px;
    font-family: "Open Sans", sans-serif !important;
}

.fiveBox {
    margin-top: -120px;
}

.secondBox>div>p>i {
    color: red;
    font-size: 20px;
}

.secondBox>div>p {
    margin: auto;
    font-size: 23px;
    font-family: "Open Sans", sans-serif !important;
    text-align: center;
}

#span1 {
    color: red;
}

.span2 {
    color: rgb(99, 170, 236);
    font-size: 20px;
}

.flash {
    padding-top: 1%;
}

.firstPara {
    color: red;
    font-size: 18px;
    margin-top: 10px;
}

.secondBox1>div>p, .fourthBox1>div>p, .fiveBox1>div>p {
    line-height: 13px
}

.secondBox1>div>p:last-child {
    background-color: red;
    height: 30px;
    width: 80px;
    padding: 10px;
    color: white;
}

.sixthBox1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.sixthBox {
    margin: auto;
    width: 85.5%;
    margin-top: -120px;
    background-color: white;
    gap: 5px;
}

.sixthBox1>div>img {
    height: 190px;
    width: 360px;
}

.sixthBox1>div {
    margin: auto;
}

.sixthBox1>div>p {
    margin-bottom: 7%;
}

.sixthBox2 {
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    gap: 10px
}

.sixthBox2>div>img {
    margin: auto;
    height: 90px;
    width: 90px;
}

.sixthBox2>div {
    margin-bottom: 15%;
}

.seventhBox {
    background-color: white;
    margin: auto;
    margin-top: 1%;
    width: 85.5%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1%;
}

.seventhBoxB {
    margin: auto;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    margin-right: 0px;
}

.seventhBoxB>div {
    margin: auto;
    width: 95%;
    background-color: rgb(238, 236, 236);
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.seventhBox11, .seventhBox22, .seventhBox33, .seventhBox44, .seventhBox55, .seventhBox66 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: -5px
}

.seventhBox11>div>img, .seventhBox22>div>img, .seventhBox33>div>img, .seventhBox44>div>img, .seventhBox55>div>img, .seventhBox66>div>img {
    margin: auto;
    margin-top: 15%;
    height: 110px;
    width: 110px;

}

.seventhBox11>div, .seventhBox22>div, .seventhBox33>div, .seventhBox44>div, .seventhBox55>div, .seventhBox66>div {
    margin: auto;
}

.inimage {
    margin-top: 3%;
    margin-left: 30%;
}

.eightBox1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 10px
}

.eightBox, .nineBox {
    margin: auto;
    margin-top: 1%;
    background-color: white;
    width: 85.5%;
    padding-left: 20px;
    padding-right: 20px;
    padding-BOTTOM: 3%;
}

.eightBox1>div>img {
    height: 230px;
    width: 210px;
    border-radius: 50%;
    background-color: white;
}

.eightBox1>div>p {
    text-align: center;
    font-weight: bold;
    margin: 5%;
}

.eightBox>div>p {
    font-weight: normal;
}

.eightBox1>div {
    margin: auto;
}

.nineBox1 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
}

.nineBox1>div>img {
    margin-top: 25%;
    height: 120px;
    width: 120px;
}

.nineBox {
    padding-bottom: 6%;
}

/* <------------------footer css start-------------------------> */
.footer {
    padding: 5% 0px 5% 0px;
    margin: auto;
    width: 85.5%;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

}

.firstfootera>input {
    width: 75%;
    height: 38px;
    border: 2px solid rgb(8, 8, 131);
    border-radius: 2px;
}

.firstfootera>input:last-child {
    width: 24%;
    background-color: rgb(8, 8, 131);
    color: white;
    border-radius: 1%;
    height: 38px;
    font-size: 16px;
}

.footera>div {
    border: 1px solid red
}

.firstfootera {
    margin-bottom: 6%;
}

.firstfooterb>p:last-child, .firstfooterb>p:nth-child(2) {
    line-height: 25px;
}

.secondFootera {
    display: flex;
    justify-content: space-around;
}

.secondFootera>div>i {
    margin-top: 7px;
    font-size: 20px;
    margin-left: 20px;
}

.secondFootera>div:last-child>i {
    font-size: 25px;
    margin-left: 50px;
}

.secondFooterb {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin: auto;
}

.secondFooterb>div {
    margin: auto;
    margin-top: 18%;
}

.secondFooterb>div>p:first-child {
    font-weight: bold;
    margin-bottom: 20%;
}

.firstfooterb>p:first-child {
    font-weight: bold;
    margin-bottom: 4%;
}

.secondFooterb>div:first-child>p:first-child {
    margin-bottom: 32%;
}

.navBar>p {
    padding: 1px 0px 1px 3px;
    width: 125px;
    font-weight: bold;
    margin-bottom: 2%;
}

.navBar {
    background-color: white;
    height: 180px;
    width: 85.5%;
    margin: auto;


}

.navBar1 {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    gap: 10px
}

.navBar1>p {
    width: auto;
    font-size: 14px;
    padding: 14px 0px 4px 10%;
    background-color: rgb(235, 227, 227);
    color: rgb(158, 150, 150);
}

.languages {
    text-align: center;

    color: rgb(158, 150, 150);
}

.lastBar>img {
    display: block;
    margin: auto;
}

.lastBar {
    padding-bottom: 2%;
}

.lastBar>img:first-child {
    margin-bottom: 15px;
    background-color: black;
}
